# Configuration locale de développement
NEXT_PUBLIC_API_URL=https://api.acadys.dev.pixpay.sn/api/v1

# Nom de l'application
NEXT_PUBLIC_APP_NAME=VeriCertis Dev

# Environnement
NEXT_PUBLIC_ENV=development
